# Configuración del Servidor
PORT=3000
BACKEND_URL=http://localhost:3000
FRONTEND_URL=http://localhost:5173

# Base de datos MySQL (Credenciales vacías por seguridad)
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=
# Alternativa requerida por rúbrica si usas connection string:
DATABASE_URL=

# Seguridad y Autenticación
JWT_SECRET=
JWT_EXPIRATION=

# Credenciales de Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=